.services {
  &__card {
    &_large {
      background: $lightBg $mainGradient;
      padding-top: 70px;
      padding-left: 70px;
      padding-right: 70px;
      position: relative;
      &:after {
        position: absolute;
        content: "";
        width: 204px;
        height: 140px;
        left: 30px;
        bottom: -26px;
        background-image: url(../../img/hero_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}