<section class="section hero">
    <div class="container">
        <div class="hero__content services">
            <div class="services__card services__card_large service">
                <p class="section-title">
                    Запчасти для коммерческого транспорта в Калуге
                </p>
                <h1 class="hero__subtitle">
                    Запчасти для микроавтобусов Fiat Ducato, Peugeot Boxer, Citroen Jumper, Ford Transit
                </h1>
                <a href="/" class="hero__link catalog-link link-colored">
                    Перейти в каталог
                </a>
            </div>
            <div class="services__card services__card_small service">
                <h2 class="service__title">
                    Ремонт турбин автомобилей
                </h2>
            </div>
            <div class="services__card services__card_small service">
                <h2 class="service__title">
                    Карта постоянного клиента
                </h2>
            </div>
        </div>

    </div>
</section>