//default colours
$black: #000;
$white: #FFF;

//layout colours
$mainDark: #202124;
$accentColor: #B41308;
$accentColorLight: #CA5A52;
$lightRed: #E9B8B5;
$lightBg: #F5F6F8;
$gray: #636466;
$mainGradient: linear-gradient(124deg, rgba(245,246,248,1) 0%, rgba(236,239,241,1) 34%, rgba(183,189,193,1) 70%, rgba(37,41,44,0.742734593837535) 100%);
//Media queries
$tablet: 760px;
$laptop: 1000px;
$desktop: 1170px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
